<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
	<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
	<title>첫번째 페이지</title>
</head>
<style>
    table, tr, td, th{
        border : 1px solid black;
        border-collapse: collapse;
        padding : 5px 10px;
        text-align: center;
    }
</style>
<body>
	<div id="app">
        <div>제품명: <input placeholder="제품명" name="productName" v-model="info.productName"> </div>
        <div>제품설명: <input placeholder="제품설명" name="description" v-model="info.description"></div>
        <div>가격: <input placeholder="가격" name="price" v-model="info.price"></div>
        <div>재고: <input placeholder="재고" name="stock" v-model="info.stock"></div>
        <div>종류: <input placeholder="종류" name="category" v-model="info.category"></div>
        <div>이미지: <input type="file" name="file" @change="handleFile"></div>
        <div>
            <button v-if="productId == ''" @click="fnAdd">등록</button>
            <button v-else @click="fnEdit">수정</button>
        </div>
	</div>
</body>
</html>
<script>
    const app = Vue.createApp({
        data() {
            return {
                info : {
                    productName : "",
                    description : "",
                    price : "",
                    stock : "",
                    category : ""
                },
                productId : "",
                file: null
            };
        },
        methods: {
            handleFile(event) {
                this.file = event.target.files[0];
            },
            fnAdd(){
                let self = this;
                let formData = new FormData();
                formData.append("productName", self.info.productName);
                formData.append("description", self.info.description);
                formData.append("price", self.info.price);
                formData.append("stock", self.info.stock);
                formData.append("category", self.info.category);
                if (self.file) {
                    formData.append("file", self.file);
                }
				fetch("http://localhost:3000/product", {
                    method : "POST",
                    body : formData
                })
                    .then( res => res.json() )
                    .then( data => {
                        console.log(data);
                        alert("등록 완료!");
                        location.href="product-list.html";
                    })
            },
            fnEdit(){
                let self = this;
				fetch("http://localhost:3000/product/" + self.productId , {
                    method : "PUT",
                    headers : {
                        "Content-type" : "application/json"
                    },
                    body : JSON.stringify(self.info)
                })
                    .then( res => res.json() )
                    .then( data => {
                        console.log(data);
                        alert(data.message);
                        
                    })
            },
            fnView(){
                let self = this;
				fetch("http://localhost:3000/product/"+self.productId)
                    .then( res => res.json() )
                    .then( data => {
                        self.info = data.info;
                        console.log(self.info);
                    })
            }
        },
        mounted() {
            var self = this;
            const queryParams = new URLSearchParams(window.location.search);
            if(queryParams.get('productId') != null) {
                this.productId = queryParams.get('productId') || ''; 
                self.fnView();
            }
        }
    });
    app.mount('#app');
</script>